<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/home", class: "navbar-brand" do %>
      <i class="fa-solid fa-tooth"></i>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item-about">
          <%= link_to "About", about_path, class: "nav-link" %>
          </li>
          <li class="nav-item-bookings">
            <%= link_to "Contact Us", contact_path, class: "nav-link" %>
          </li>
          <% if user_signed_in? && current_user&.nurse? %>
            <li class="nav-item dropdown">
              <%= image_tag "https://avatars.githubusercontent.com/u/107935328?v=4", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Profile", "#", class: "dropdown-item" %>
                <%= link_to "Availability", "#", class: "dropdown-item" %>
                <%= link_to "Booking requests", "#", class: "dropdown-item" %>
                <%= link_to "Confirmed bookings", "#", class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item" %>
              </div>
            </li>
          <% elsif user_signed_in? && current_user&.practice? %>
            <li class="nav-item dropdown">
              <%= image_tag "https://avatars.githubusercontent.com/u/107935328?v=4", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Practice profile", "#", class: "dropdown-item" %>
                <%= link_to "Find a nurse", "#", class: "dropdown-item" %>
                <%= link_to "Booking requests", "#", class: "dropdown-item" %>
                <%= link_to "Confirmed bookings", "#", class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login/Join Us", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
      </ul>
    </div>
  </div>
</div>
